*.pyc
venv/
.DS_Store
export/reconstruction_export_win.json
export/reconstruction_export.json
export/debug/reconstruction_diagnostics.json
export/geometry.bin
export/reconstruction_export_win.json
export/reconstruction_export.json
export/debug/reconstruction_diagnostics.json
export/geometry.bin
*.png
*.import
*.glb
*.babylon
*.blend
*.blend1
*.json
*.bin
*.gltf
.env
/godot_project/.godot
*:Zone.Identifier
/export/minecraft_world/resource_pack
*.nbi
*.nbc
